@model IEnumerable<IdentityRole>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    @foreach(var role in Model)
    {
        <li>
            @role.Name <img src="/images/trash3.svg" alt="trash button" onclick="deleteRole('@role.Id',this)" />
        </li>
    }
</ul>
<form asp-action="AddRole" method="post">
    <input type="text" id="rolename" name="rolename" />
    <input type="submit" value="Toevoegen"/>
</form>
<span id="message"></span>
<script type="text/javascript">
    function deleteRole(id,element) {
        console.log("click delete role" + id);
        var message = document.querySelector('#message');
        try {
            const response = fetch(`/admin/removerolejson/${id}`, {
                method: 'POST'
            });
            message.innerHTML = "De rol werd verwijderd";
            element.parent.hidden = true;
        } catch (error) {
            message.innerHTML = "Fout bij het verwijderen van de rol";
        }                
    }    
</script>