html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.day {
    border-block-color: black;    
    border-style: solid;   
    border-width: thin;
    text-align: center;
    height: max-content;
}

.today {    
    font-weight: bold;    
}