@model ClubUserModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<script type="text/javascript">    
    $(document).ready(function () {                
        let lijst = fetch('/api/leden')
            .then(response => response.json())
            //.then(result => console.log(result))
            .then(data => {
                var table = $('#lijst').DataTable({
                    'data': data,
                    'columns': [
                        { data: 'id', title: 'Id' },
                        { data: 'firstname' , title: 'Voornaam'},
                        { data: 'lastname', title: 'Familienaam'},
                        { data: 'dob' , title: 'Geboortedatum'},
                        { data: 'city' , title: 'Stad'} , 
                        { data: 'zipcode' , title: 'Postcode'},
                        { data: 'address' , title: 'Adres'},
                        { data: 'telephone' , title: 'Telefoon'},
                    ],
                    "initComplete": function (settings, json) {
                        $('#lijst-tabel').show();
                    },
                    "select": 'single',
                });
                $('#lijst tbody').on('dblclick', 'tr', function () {
                    console.log("double click");
                    var selectedData = table.row(this).data();
                    console.log(`selected ${selectedData}`);
                    window.location.href = `/club/lid/${selectedData.id}`;
                });
            })
            .catch(error => console.log('error', error));


    });
</script>
@if (Model == null)
{
    <p>Geen datamodel aanwezig</p>
}
else
{
    <div id="lijst-tabel" class="lijst" style="display:none" >
        <table id="lijst" class="table table-striped" >       
        </table>
    </div>
}
<form asp-action="LidCreate">
    <input type="submit" value="Nieuw" class="btn btn-outline-primary" />
</form>